.restaurant-list, .res-card {
  display: flex;
  flex-wrap: wrap;
}
.card {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}
.shimmer-card {
  width: 200px;
  height: 200px;
  background: lightblue;
  margin: 20px;
}